/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

/*fonts*/
@import url(http://fonts.googleapis.com/css?family=Pacifico|Copse);

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; min-height: 100%; height: auto; width: 100%}
body { margin: 0; font-size: 110%; line-height: 1.5; }
body, button, input, select, textarea { font-family: sans-serif; color: #241E1D; }

address, article, aside, audio, blockquote, canvas, dd, div, dl, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, ol,
output, p, section, table, tfoot, ul, video { box-sizing: border-box; }

::-moz-selection { background: #27a0e6; color: #fff; text-shadow: none; }
::selection { background: #27a0e6; color: #fff; text-shadow: none; }

a { color: #1F3B69; text-decoration: none; border-bottom: 1px dashed; font-weight: bold;}
a:visited { color: #8A260F; }
a:hover { color: #2C5994; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

/*GRID SETUP:
 * 12 Columns @ 6.58%, 1% margins, 89.96% total width
 * 1 col	6.58%
 * 2 col	14.16%
 * 3 col	21.74%
 * 4 col	29.32%
 * 5 col	36.9%
 * 6 col	44.48%
 * 7 col	52.06%
 * 8 col	59.64%
 * 9 col	67.22%
 * 10 col	74.8%
 * 11 col	82.38%
 * 12 col	89.96%
 */

html, body {
	height: 100%;
}
body {
	background: #e4cfaa;
	background-image: linear-gradient(top, #e4cfaa, #967a5a);
	background-size: 100%;
}
/*main, top-level sections*/
.topsection {
	position: relative;
	width: 89.96%;
	margin: 0 auto;
}
.container {
	height: 100%;
	background: url('../img/mountains.png') 0% 50% repeat-x;
	background-size: auto 100%;
}
.mainheader {
	margin-top: 10%;
}
.mainheader h1 {
	width: 41%;
	text-shadow: 0px -1px rgba(0,0,0,0.5), 0px 1px rgba(255,255,255,0.3);
}
.mainheader strong {
	font-size: 160%;
	display: block;
	margin-top: -8%; margin-bottom: 6%;
	transition-property: transform, font-size;
	transition-duration: 0.5s, 0.2s;
	transition-timing-function: cubic-bezier(1,0,0.3,2), ease;
	transition-delay: 1s, 0s;
	transform: rotate(-6deg);
	transform-origin: 130% 0%;
}
.mainheader em {
	font-style: normal;
	display: block;
	text-align: right;
}

.skills {
	height: 30%;
	background: transparent;
	background-image: linear-gradient(rgba(228,207,170,0.5), rgba(228,207,170,0.2));
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
.skills .skillset {
	float: left;
	width: 32.4%;
	margin: 0 0.56%;
	padding: 0 1%;
	position: relative;
	height: 100%;
}
.skills .skillset:first-of-type {
	margin-left: 0;
}
.skills .skillset:last-of-type {
	margin-right: 0;
}


.btn {
	display: inline-block;
	margin: 2% auto;
	padding: 2% 5%;
	text-align: center;
	border-radius: 1.5em;
	border: 0px solid transparent;
	font-size: 130%;
	font-weight: normal;
	text-shadow:	0 -1px 1px rgba(0,0,0,0.8),
					0 1px 1px rgba(255,255,255,0.8);
	background-color: #222;
	background-image:	linear-gradient(rgba(228,207,170,0.5) 0%,rgba(228,207,170,0.3) 50%, rgba(228,207,170,0.2) 51%, rgba(228,207,170,0) 100%),
						repeating-radial-gradient(50% 50%, ellipse cover, rgba(255,255,255,0), rgba(228,207,170,0.0) 0%,rgba(228,207,170,0.1) 2%,rgba(228,207,170,0.0) 3%, rgba(228,207,170,0.0) 5%,rgba(228,207,170,0.0)7%),
						linear-gradient(#2d160b, #150a05);
	transition-property: color, box-shadow;
	transition-duration: 0.2s;
	box-shadow:	0 1px 2px rgba(255,255,255,0.5) inset,
				0 2px 2px rgba(0,0,0, 0.8);
}
.btn, .btn:visited {
	color: #7D705A;
	color: rgba(228,207,170,0.5);
}
.btn:hover {
	color: #e4cfaa;
	color: rgba(228,207,170,1);
	box-shadow: 0 1px 2px rgba(255,255,255,0.8) inset,
				0 4px 4px rgba(0,0,0, 0.8);
}
.btn:active {
	color: rgba(228,207,170,0.2);
	box-shadow: 0 1px 2px rgba(255,255,255,0.8) inset,
				0 0px 0px rgba(0,0,0, 0.8);
}

/*Type*/
body, textarea, input, select {
	font-family: 'Copse', Georgia, serif;
}
h1 {
	font-size: 270%;
	margin: 0;
}
strong {
	font-family: 'pacifico', 'Copse', Georgia, serif;
	color: #062C63;
}
.tnc {
	font-size: 75%;
}


/*UTILITY*/
.overlay {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	display: none;
}
span.grid {
	height: 100%;
	min-height: 600px;
	width: 6.58%;
	margin: 0 0.5%;
	float: left;
	background-color: rgba(0,100,255,0.2);
}
span.grid:first-of-type {
	margin-left: 5.02%;
}
span.grid:last-of-type {
	margin-right: 5.02%;
}

/*clearfixin's*/
.container:before,
.container:after,
.skills:before,
.skills:after { content: ""; display: table; }

.container:after,
.skills:after { clear: both; }

.container,
.skills { zoom: 1; }

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 1330px) and (max-width: 1625px){
	.mainheader strong {
		font-size: 130%;
	}
}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
